<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет пользователя</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>
<body>

<a class="btn btn-dark" th:href="@{/logout}" role="button">Выйти из личного кабинета</a>
    <h3>Личный кабинет пользователя</h3>

    <a class="btn btn-dark" th:href="@{/cart}" role="button">Корзина</a>
    <br>
    <a class="btn btn-dark" th:href="@{/orders}" role="button">История заказов</a>

    <br><br>
    <div th:insert="product/searchFilterProductsForm :: searchFilterProducts">...</div>

<h3> Список товаров в наличии: </h3>
<div th:insert="product/productSearchFilterResult :: fullProductList">...</div>

</body>
</html>